<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png'%}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon.png'%}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>TODO LIST</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'css/paper-dashboard.css'%}" rel="stylesheet"/>

    <!--  Fonts and icons     -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/themify-icons.css'%}" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
	    <div class="sidebar" data-background-color="brown" data-active-color="danger">
	    <!--
			Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
			Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
		-->
			<div class="logo" style="text-align:center">
				<a href="/" class="simple-text logo-normal">
					RYULTH TODO
				</a>
			</div>
	    	<div class="sidebar-wrapper">

	            <ul class="nav">
					<li class="active">
	                    <a href="{% url 'main_page' %}" >
	                        <i class="ti-calendar"></i>
	                        <p>TODO LIST
                            </p>
	                    </a>
	                </li>

	                <li>
	                    <a href="{% url 'todo_reg' %}">
	                        <i class="ti-plus"></i>
	                        <p>TODO REGISTER</p>
	                    </a>
	                </li>

	            </ul>
	    	</div>
	    </div>

	    <div class="main-panel">
	        <nav class="navbar navbar-default">
	            <div class="container-fluid">
					<div class="navbar-minimize">
						<button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
					</div>
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar bar1"></span>
	                        <span class="icon-bar bar2"></span>
	                        <span class="icon-bar bar3"></span>
	                    </button>
	                    <a class="navbar-brand" href="#">{{ user.last_name }} {{ user.first_name }} 님 </a>
	                </div>
	                <div class="collapse navbar-collapse">

	                    <ul class="nav navbar-nav navbar-right">

	                        <li class="dropdown">
	                            <a href="#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown">

									<i class="ti-bell"></i>
	                                <span class="notification">{{notify_list|length}}</span>
									<p >
										Notifications
										<b class="caret"></b>
									</p>
	                            </a>
	                            <ul class="dropdown-menu">
									{% for notify in notify_list%}
	                                <li><a href="#not1">{{notify.finish_date|date:'m월 d일'|default:'ㅡ'}} : {{notify.title}}</a></li>
									{% endfor %}
	                            </ul>
	                        </li>
							<li>
	                            <a href="{% url 'logout' %}">
											<i class="ti-settings"></i>
											<p>Logout</p>
								</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </nav>

	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">

						<div class="col-md-12">
							<div class="card text-center">

								<div class="card-header">
									<ul class="nav nav-tabs card-header-tabs" role="tablist">
										<li calss="  active">
											<a  href="#todo"  >TODO</a>
										</li>
										<li >
											<a   href="#late" >LATE</a>
										</li>
										<li>
											<a  href="#trash" >TRASH</a>
										</li>
									</ul>
								</div>
								<div class="card-content">
									<div class="tab-content" id="myTabContent">
										<div class="tab-pane active in" id="todo">
											<div class="toolbar">
												<!--Here you can write extra buttons/actions for the toolbar-->
											</div>

											<table class="bootstrap-table table ">
												<thead >

												<th class="col-xs-2 col-lg-2 text-center" data-field="date" data-sortable="true" >기한</th>
												<th class="col-xs-2 col-lg-2 text-center"data-field="title" data-sortable="true" >제목</th>
												<th class="col-xs-4 col-lg-4 text-center"data-field="content" data-sortable="true" >내용</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="type" data-sortable="true" >종류</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="success" data-sortable="true">성공</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="edit"  >편집</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="delete" >삭제</th>
												</thead>
												<tbody>
												{% for todo in todo_list %}
												<tr>

													<td class="text-left"> {{todo.finish_date|date:'20y년m월d일 h시:m분'|default:'ㅡ'}}</td>
													<td class="text-left">{{todo.title}}</td>
													<td class="text-left">{{todo.content}}</td>
													<td>
														{% if todo.type == 0 %}
														<a   href="/todo_type/{{todo.id}}/todo" class="btn btn-simple btn-info btn-icon" >일반</a>
														{% else %}
														<a   href="/todo_type/{{todo.id}}/todo" class="btn btn-simple btn-danger btn-icon" >긴급</a>
														{% endif%}
													</td>
													<td>
														{% if todo.success == 0 %}
														<a   href="/todo_suc/{{todo.id}}/todo" class="btn btn-simple btn-danger btn-icon" ><i class="ti-close"></i></a>
														{% else %}
														<a   href="/todo_suc/{{todo.id}}/todo" class="btn btn-simple btn-success btn-icon" ><i class="ti-check"></i></a>
														{% endif%}
													</td>
													<td><a   href="/todo_edit/{{todo.id}}/" class="btn btn-simple btn-warning btn-icon" ><i class="ti-pencil-alt"></i></a></td>
													<td><a   href="/todo_del/{{todo.id}}/todo" class="btn btn-simple btn-danger btn-icon" onclick="return confirm('삭제 하시겠습니까?');"><i class="ti-trash"></i></a></td>

												</tr>
												{% endfor %}


												</tbody>
											</table>

										</div>

										<div class="tab-pane" id="late">
											<div class="toolbar">
												<!--Here you can write extra buttons/actions for the toolbar-->
											</div>
											<table class="bootstrap-table" class="table ">
												<thead>
												<th class="col-xs-2 col-lg-2 text-center" data-field="date" data-sortable="true" >기한</th>
												<th class="col-xs-2 col-lg-2 text-center"data-field="title" data-sortable="true" >제목</th>
												<th class="col-xs-4 col-lg-4 text-center"data-field="content" data-sortable="true" >내용</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="type" data-sortable="true" >종류</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="success" data-sortable="true">성공</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="edit"  >편집</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="delete" >삭제</th>
												</thead>
												<tbody>
												{% for late in late_list %}
												<tr>

													<td class="text-left">{{late.finish_date|date:'20y년 m월 d일 h시:m분'|default:'ㅡ'}}</td>
													<td class="text-left">{{late.title}}</td>
													<td class="text-left">{{late.content}}</td>
													<td>
														{% if late.type == 0 %}
														<a   href="/todo_type/{{late.id}}/late" class="btn btn-simple btn-info btn-icon" >일반</a>
														{% else %}
														<a   href="/todo_type/{{late.id}}/late" class="btn btn-simple btn-danger btn-icon" >긴급</a>
														{% endif%}
													</td>
													<td>
														{% if late.success == 0 %}
														<a   href="/todo_suc/{{late.id}}/late" class="btn btn-simple btn-danger btn-icon" ><i class="ti-close"></i></a>
														{% else %}
														<a   href="/todo_suc/{{late.id}}/late" class="btn btn-simple btn-success btn-icon" ><i class="ti-check"></i></a>
														{% endif%}
													</td>
													<td><a   href="/todo_edit/{{late.id}}/" class="btn btn-simple btn-warning btn-icon" ><i class="ti-pencil-alt"></i></a></td>
													<td><a   href="/todo_del/{{late.id}}/late" class="btn btn-simple btn-danger btn-icon" onclick="return confirm('삭제 하시겠습니까?');"><i class="ti-trash"></i></a></td>

												</tr>
												{% endfor %}
												</tbody>
											</table>
										</div>

										<div class="tab-pane" id="trash">
											<div class="toolbar">
												<!--Here you can write extra buttons/actions for the toolbar-->
											</div>
											<table class="bootstrap-table" class="table ">
												<thead >

												<th class="col-xs-2 col-lg-2 text-center" data-field="date" data-sortable="true" >기한</th>
												<th class="col-xs-2 col-lg-2 text-center"data-field="title" data-sortable="true" >제목</th>
												<th class="col-xs-4 col-lg-4 text-center"data-field="content" data-sortable="true" >내용</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="type" data-sortable="true" >종류</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="success" data-sortable="true">성공</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="edit"  >복원</th>
												<th class="col-xs-1 col-lg-1 text-center"data-field="delete" >삭제</th>
												</thead>
												<tbody>
												{% for trash in trash_list %}
												<tr>

													<td class="text-left">{{trash.finish_date|date:'20y년 m월 d일 h시:m분'|default:'ㅡ'}}</td>
													<td class="text-left">{{trash.title}}</td>
													<td class="text-left">{{trash.content}}</td>
													<td>
														{% if trash.type == 0 %}
														<a  class="btn btn-simple btn-info btn-icon" >일반</a>
														{% else %}
														<a   class="btn btn-simple btn-danger btn-icon" >긴급</a>
														{% endif%}
													</td>
													<td>
														{% if trash.success == 0 %}
														<a   class="btn btn-simple btn-danger btn-icon" ><i class="ti-close"></i></a>
														{% else %}
														<a   class="btn btn-simple btn-success btn-icon" ><i class="ti-check"></i></a>
														{% endif%}
													</td>
													<td><a   href="/todo_reload/{{trash.id}}/" class="btn btn-simple btn-warning btn-icon" onclick="return confirm('복원 하시겠습니까?');"><i class="ti-reload"></i></a></td>
													<td><a   href="/todo_del/{{trash.id}}/trash" class="btn btn-simple btn-danger btn-icon" onclick="return confirm('완전 삭제 하시겠습니까?');"><i class="ti-trash"></i></a></td>

												</tr>
												{% endfor %}


												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="card-footer text-right">
									<a type="button" href="{% url 'todo_reg' %}" class="btn btn-wd btn-success ">
	                                            <span class="btn-label">
	                                                <i class="fa fa-plus"></i>
	                                            </span>
	                                            TODO
	                                        </a>
								</div>

							</div>
						</div>

					</div>
	            </div>
	        </div>

	        <footer class="footer">
	            <div class="container-fluid">
	                <nav class="pull-left">
	                    <ul>
	                        <li>
	                            <a href="https://www.creative-tim.com">
	                                Creative Tim
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://blog.creative-tim.com">
	                               Blog
	                            </a>
	                        </li>
	                        <li>
	                            <a href="https://www.creative-tim.com/license">
	                                Licenses
	                            </a>
	                        </li>
	                    </ul>
	                </nav>
	                <div class="copyright pull-right">
	                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="https://www.creative-tim.com">Creative Tim</a>
	                </div>
	            </div>
	        </footer>
	    </div>
	</div>
</body>

	<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
	<script src="{% static 'js/jquery.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'js/jquery-ui.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'js/perfect-scrollbar.min.js'%}" type="text/javascript"></script>
	<script src="{% static 'js/bootstrap.min.js'%}" type="text/javascript"></script>

	<!--  Forms Validations Plugin -->
	<script src="{% static 'js/jquery.validate.min.js'%}"></script>

	<!-- Promise Library for SweetAlert2 working on IE -->
	<script src="{% static 'js/es6-promise-auto.min.js'%}"></script>

	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<script src="{% static 'js/moment.min.js'%}"></script>

	<!--  Date Time Picker Plugin is included in this js file -->
	<script src="{% static 'js/bootstrap-datetimepicker.js'%}"></script>

	<!--  Select Picker Plugin -->
	<script src="{% static 'js/bootstrap-selectpicker.js'%}"></script>

	<!--  Switch and Tags Input Plugins -->
	<script src="{% static 'js/bootstrap-switch-tags.js'%}"></script>

	<!--  Notifications Plugin    -->
	<script src="{% static 'js/bootstrap-notify.js'%}"></script>

	<!-- Sweet Alert 2 plugin -->
	<script src="{% static 'js/sweetalert2.js'%}"></script>


	<!-- Wizard Plugin    -->
	<script src="{% static 'js/jquery.bootstrap.wizard.min.js'%}"></script>

	<!--  Bootstrap Table Plugin    -->
	<script src="{% static 'js/bootstrap-table.js'%}"></script>

	<!--  Plugin for DataTables.net  -->
	<script src="{% static 'js/jquery.datatables.js'%}"></script>

	<!--  Full Calendar Plugin    -->
	<script src="{% static 'js/fullcalendar.min.js'%}"></script>

	<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
	<script src="{% static 'js/paper-dashboard.js'%}"></script>

	<!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->
	<script src="{% static 'js/demo.js'%}"></script>
	<script type="text/javascript">
        $(document).ready(function() {
            if (location.hash) {
                $("a[href='" + location.hash + "']").tab("show");
            }
            $(document.body).on("click", "a[data-toggle]", function(event) {
                location.hash = this.getAttribute("href");
            });
        });
        $(window).on("popstate", function() {
            var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
            $("a[href='" + anchor + "']").tab("show");
        });
		var $table = $('.bootstrap-table');

	        function operateFormatter(value, row, index) {
	            return [
					'<div class="table-icons">',
		                '<a rel="tooltip" title="View" class="btn btn-simple btn-info btn-icon table-action view" href="javascript:void(0)">',
							'<i class="ti-image"></i>',
						'</a>',
		                '<a rel="tooltip" title="Edit" class="btn btn-simple btn-warning btn-icon table-action edit" href="javascript:void(0)">',
		                    '<i class="ti-pencil-alt"></i>',
		                '</a>',
		                '<a rel="tooltip" title="Remove" class="btn btn-simple btn-danger btn-icon table-action remove" href="javascript:void(0)">',
		                    '<i class="ti-close"></i>',
		                '</a>',
					'</div>',
	            ].join('');
	        }

	        $().ready(function(){

	            window.operateEvents = {
	                'click .view': function (e, value, row, index) {
	                    info = JSON.stringify(row);

	                    swal('You click view icon, row: ', info);
	                    console.log(info);
	                },
	                'click .edit': function (e, value, row, index) {
	                    info = JSON.stringify(row);

	                    swal('You click edit icon, row: ', info);
	                    console.log(info);
	                },
	                'click .remove': function (e, value, row, index) {
	                    console.log(row);
	                    $table.bootstrapTable('remove', {
	                        field: 'id',
	                        values: [row.id]
	                    });
	                }
	            };

	            $table.bootstrapTable({
	                toolbar: ".toolbar",
	                clickToSelect: true,
	                showRefresh: false,
	                search: true,
	                showToggle: false,
	                showColumns: true,
	                pagination: true,
	                searchAlign: 'left',
	                pageSize: 8,
	                clickToSelect: false,
	                pageList: [8,10,25,50,100],

	                formatShowingRows: function(pageFrom, pageTo, totalRows){
	                    //do nothing here, we don't want to show the text "showing x of y from..."
	                },
	                formatRecordsPerPage: function(pageNumber){
	                    return pageNumber + " rows visible";
	                },
	                icons: {
	                    refresh: 'fa fa-refresh',
	                    toggle: 'fa fa-th-list',
	                    columns: 'fa fa-columns',
	                    detailOpen: 'fa fa-plus-circle',
	                    detailClose: 'ti-close'
	                }
	            });

	            //activate the tooltips after the data table is initialized
	            $('[rel="tooltip"]').tooltip();

	            $(window).resize(function () {
	                $table.bootstrapTable('resetView');
	            });
			});


	</script>
</html>
